@charset "utf-8";
/* CSS Document */
.pic1 img {
width: 29%;
border: rgb(180, 227, 189) 2px solid;
border-radius: 13px;
margin-left: 21px;
margin-bottom: 15px;
/* float: initial; */
}	
.pic2 img {
width: 225px;
height:250px;
border: rgb(180, 227, 189) 2px solid;
border-radius: 13px;
margin-left: 21px;
margin-bottom: 15px;
/* float: initial; */
}	